@font-face {
    font-family: 'waltographregular';
    src: url('fonts\waltograph42-webfont.eot');
    src: url('fonts\waltograph42-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts\waltograph42-webfont.woff') format('woff'),
         url('fonts\waltograph42-webfont.ttf') format('truetype'),
         url('fonts\waltograph42-webfont.svg#waltographregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'waltograph_uibold';
    src: url('fonts\waltographui-webfont.eot');
    src: url('fonts\waltographui-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts\waltographui-webfont.woff') format('woff'),
         url('fonts\waltographui-webfont.ttf') format('truetype'),
         url('fonts\waltographui-webfont.svg#waltograph_uibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	display:block;
	background-color: #7290b5;
	font-family: 'waltographregular', Verdona, Arial, sans-serif;
}

h1 {
	font-family: 'waltograph_uibold', Verdona, Arial, sans-serif;
	font-size: 25px;
	color: white;
}

nav {
  list-style: none;
  display: block;
  margin: 1px;
  padding: 25px;
  font-family: 
  font-size: 114.3%;
  background-color: black;

} 

nav li {
		float:left;
	 border-color: 2px white;
	 }
	 
nav li a {
	color: white;
}

